{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block meta_description %}Explore our FAQ page for answers to commonly asked questions about our Fine Furnishings furniture. Find helpful information and solutions to your queries.{% endblock %}

{% block search_bar %}
{% endblock %}

{% block content %}

<!-- FAQ page -->
<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-md-5 mb-5 mt-sm-0">
            <div class="card mb-4 mb-lg-0">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4 wishlist-text">
                    Frequently Asked Questions
                    </h1>
                    <div class="text-center">
                        <p>
                            <button class="btn btn-outline-dark"
                            type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="false"
                            aria-controls="collapseOne">
                                Will I get an order confirmation?
                            </button>
                        </p>
                        <div class="collapse" id="collapseOne">
                            <div class="card card-body">
                                Of course!
                                After you place your order,
                                we will email you a copy of
                                your order confirmation.
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-outline-dark"
                            type="button" data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                                How long does delivery take?
                            </button>
                        </p>
                        <div class="collapse" id="collapseTwo">
                            <div class="card card-body">
                                We aim to deliver all orders within
                                2 weeks of the purchase date.
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-outline-dark"
                            type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                                What is your returns policy?
                            </button>
                        </p>
                        <div class="collapse" id="collapseThree">
                            <div class="card card-body">
                                If you change your mind and decide you need to
                                return your order, no problem. We require you
                                retain all original packaging in re-sellable
                                condition and let us know within 14 days of
                                your home delivery.
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-outline-dark"
                            type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false"
                            aria-controls="collapseFour">
                                Do you deliver outside of Ireland?
                            </button>
                        </p>
                        <div class="collapse" id="collapseFour">
                            <div class="card card-body">
                                Unfortunately, no. We can only deliver
                                within the island of Ireland. Stay tuned,
                                as we will be looking to expand in the
                                near future!
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-outline-dark"
                            type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false"
                            aria-controls="collapseFive">
                                How much is your delivery fee?
                            </button>
                        </p>
                        <div class="collapse" id="collapseFive">
                            <div class="card card-body">
                                We have a standard delivery fee on
                                all orders of €{{ delivery }}.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-text text-white text-center m-3"> Still have questions?
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'contact' %}"
                        class="text-white">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
