{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 pt-5">
                <img src="{{ MEDIA_URL }}cover-main-page.png" alt="Image of living room with green sofa" class="img-fluid home-page-image">
            </div>
        </div>
    </div>
    <div class="container top-padding">
        <div class="row">
            <div class="col-md-4 mb-3">
                <a href="{% url 'sofa_products' %}" class="category-block">
                    <img src="{{ MEDIA_URL }}cream-round-arm-sofa.png" class="card-img" alt="Cream Sofa - Sofas Category">
                    <span class="category-name">Sofas</span>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{% url 'bedroom_products' %}" class="category-block">
                    <img src="{{ MEDIA_URL }}beige-velvet-headboard-with-buttons.png" class="card-img" alt="Beige Bedframe - Bedroom Category">
                    <span class="category-name">Bedroom</span>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{% url 'dining_products' %}" class="category-block">
                    <img src="{{ MEDIA_URL }}white-wood-rectangle-dining-table-with-oval-base.png" class="card-img" alt="Wooden Table - Dining Category">
                    <span class="category-name">Dining</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}