{% load crispy_forms_tags %}

<!-- Edit Profile Form -->
<form method="post">
    {% csrf_token %}
    {{ form.first_name|as_crispy_field }}
    {{ form.last_name|as_crispy_field }}
    {{ form.email|as_crispy_field }}
    {{ form.phone|as_crispy_field }}

    <!-- Edit Addresses -->
    <h5 class="mt-4 mb-3">Addresses</h5>
    {{ address_formset.management_form }}
    {% for form in address_formset %}
        <div class="address-form">
            {{ form.id }}
            {{ form.address_name|as_crispy_field }}
            {{ form.street_address_1|as_crispy_field }}
            {{ form.street_address_2|as_crispy_field }}
            {{ form.town_city|as_crispy_field }}
            {{ form.county|as_crispy_field }}
            {{ form.post_code|as_crispy_field }}
            {{ form.country|as_crispy_field }}
            {% if form.instance.pk %}
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input"
                    name="{{ form.prefix }}-DELETE"
                    id="{{ form.prefix }}-DELETE">
                    <label class="form-check-label"
                    for="{{ form.prefix }}-DELETE">
                    Delete Address Above
                    </label>
                    <hr>
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
      data-dismiss="modal">
      Close
      </button>
      <button type="submit" class="btn btn-primary">
      Save Changes
      </button>
    </div>
</form>