{% extends "base.html" %}
{% load static %}

{% block meta_description %}Access your saved order history for all purchases with Fine Furnishings furniture website. Log in to view your details for a stress-free shopping experience.{% endblock %}

{% block search_bar %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mt-md-5 mb-5">
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">
                        Order History
                        </h3>
                        <hr>
                        {% if orders %}
                            {% for order in orders %}
                            <div class="row mt-4">
                                <div class="col-12 text-center">
                                    <h6>Order Number: {{ order.order_number }}</h6>
                                    <p>Order Date: {{ order.order_date }}</p>
                                </div>
                                {% for item in order.order_items.all %}
                                    <div class="col-12 d-flex align-items-center mb-2">
                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" style="max-width: 100px; margin-right: 10px;">
                                        <div>
                                            <p>{{ item.product.name }}{% if item.bedframe_size %} - Size {{ item.bedframe_size|upper }}{% endif %}</p>
                                            <p>Quantity: {{ item.quantity }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <p class="text-center mb-4"><strong>Total Price: €{{ order.order_total }}</strong></p>
                            <hr>
                            {% endfor %}
                        {% else %}
                        <p class="text-center text-dark">You have no previous orders placed.</p>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-secondary">
                                    <a href="{% url 'products' %}" class="dropdown-item">Continue Shopping</a>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
