/* .m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.italiana-regular {
font-family: "Italiana", sans-serif;
font-weight: 400;
font-style: normal;
} */
html {
  height: 100%;
}

body {
  font-family: Italiana, sans-serif;
  margin: 0;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.body-color {
  background-color: #812222;
  opacity: 75%;
}

/* Header */
.header-container {
  height: 100px;
}

.search-bar {
  margin-top: 100px;
}

.home-page-image {
  width: 100%;
  height: auto;
}

.products-container {
  margin-top: 8em;
}

.product-card {
  padding: 1em;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-link {
  list-style-type: none;
}

.social-icon {
  margin: .5em;
}

.social-icon span {
  text-transform: none !important;
}

.social-icon a {
  text-transform: none !important;
}

.social-icon a:hover {
  text-decoration: none !important;
}

/* Media queries */
@media (max-width: 576px) {
  
  .search-bar {
    padding-top: 5px;
    margin-top: 85px;
    max-width: 80%;
  }

}

@media (max-width: 768px) {
  
  .header-container {
    margin-top: 0;
  }

}