html {
  height: 100%;
}

body {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 100%;
}

.title-row {
  max-width: 100%;
  max-height: 50px;
  margin-bottom: 1em;
}

.title-name {
  font-family: Italiana, sans-serif;
  font-size: 3em;
}

.navbar-links {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.body-color {
  background-color: rgb(75, 17, 17);
  opacity: 85%;
}

/* Header */
.header-container {
  max-height: 100px;
}

.header-color {
  background-color: rgb(251, 248, 248);
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .navbar-toggler,
.navbar .dropdown-item {
  color: #000 !important;
  font-weight: 400;
  font-size: medium;
}

.navbar {
  position: relative;
  z-index: 100;
}

.nav-item .dropdown-menu {
  position: absolute;
  z-index: 500;
}

.header-text {
  color: black;
}

.home-page-image {
  width: 100%;
  height: auto;
}

.dropdown-arrow::after {
  display: none;
}

.category-block {
  width: 100%;
  display: block;
  margin: 1em;
  position: relative;
  text-align: center;
}

.category-block img {
  object-fit: contain;
  opacity: 0.85;
}

.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}

.top-padding{
  padding-top: 6em;
}

/* Main Content */
main {
  padding-top: 160px;
  position: relative;
  overflow-x: hidden;
}

.search-bar {
  margin-top: 165px;
  max-width: 50%;
  position: relative;
  z-index: 1001;
}

.products-container {
  margin-top: 3em;
}

.product-card {
  padding: 1em;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-body {
  color: #000 !important;
}

.faq-text {
  font-size: large;
}

.form-text {
  font-size: larger;
}

.submit-button {
  color: #fff;
  font-weight: 500;
  font-size: larger;
}

.product-page-img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.remove-product {
  width: 45px;
  cursor: pointer;
}

.update-link {
  cursor: pointer;
}

.trash-bin-icon {
  width: 20px;
  height: 20px;
}

.wishlist-text {
  font-family: Italiana, sans-serif;
  font-size: 3em;
}

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.hr-color {
  border-color: white;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-link {
  list-style-type: none;
  color: #000 !important;
  font-weight: 400;
}

.social-icon {
  margin: .5em;
}

.social-icon span {
  text-transform: none !important;
}

.social-icon a {
  text-transform: none !important;
}

.social-icon a:hover {
  text-decoration: none !important;
}

/* Media queries */
@media (max-width: 576px) {
  .title-name {
    font-size: 2em;
  }

  .search-bar {
    position: fixed;
    max-width: 80%;
    margin-top: 132px;
    z-index: 1;
  }

  .navbar-collapse {
    position: relative;
    z-index: 2;
  }

  .products-container {
    margin-top: 1em;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .header-container {
    margin-top: 0;
  }

  .navbar {
    margin-top: 3px;
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {
  .col-md-4 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
  }
}

/* Mailchimp */
#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  max-width: 600px;
  padding: 1em;
  margin-top: 1em;
}