{% extends "base.html" %}

{% block search_bar %}
{% endblock %}

{% block content %}

<!-- 404 page -->
<div class="container top-padding mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="row justify-content-center top-padding">
                <div class="card mb-lg-0 m-3 p-5">
                    <div class="card-body text-center">
                        Sorry, this page doesn't exist. 
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'home' %}" class="text-muted">Click here to go back to the home page.</a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center"> Have any questions for us? 
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'contact' %}" class="text-muted">Click here to contact us!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
