{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Italiana&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script
        src="https://kit.fontawesome.com/4147796678.js"
        crossorigin="anonymous"
        ></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>Fine Furnishings {% block extra_title %}{% endblock %}</title>

  </head>
  <body class="py-3 body-color d-flex flex-column min-vh-100">
    <header class="container-fluid bg-light fixed-top">
      <!-- Title Row -->
      <div class="row">
        <div class="col-12 text-left ml-3 mt-3">
          <a class="navbar-brand" href="{% url 'home' %}">
            <h2 class="text-dark">Fine Furnishings</h2>
          </a>
        </div>
      </div>
      <!-- Navbar Row -->
      <div class="row">
        <nav class="navbar navbar-expand-md navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto ml-3">
              <li class="nav-item ml-md-3 mr-md-3">
                  <a class="nav-link" href="{% url 'products' %}">All Products</a>
              </li>
              <li class="nav-item ml-md-3 mr-md-3">
                <a class="nav-link dropdown-toggle dropdown-arrow" href="#" id="sofa-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sofas</a>
                <ul class="dropdown-menu ml-5 mr-5" aria-labelledby="sofa-link">
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'sofa_products' %}" class="dropdown-item">All Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Corner" class="dropdown-item">Corner Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=3_Seater" class="dropdown-item">3 Seater Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=2_Seater" class="dropdown-item">2 Seater Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Armchair" class="dropdown-item">Armchairs</a>
                    </li>
                </ul>
              </li>
              <li class="nav-item ml-md-3 mr-md-3">
                <a class="nav-link dropdown-toggle dropdown-arrow" href="#" id="bedroom-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bedroom</a>
                <ul class="dropdown-menu ml-5" aria-labelledby="sofa-link">
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'bedroom_products' %}" class="dropdown-item">All Bedroom</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Bedframe" class="dropdown-item">Bedframes</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Nightstand,Locker" class="dropdown-item">Bedside Tables</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Storage,Drawer,Dresser" class="dropdown-item">Storage & Desks</a>
                    </li>
                </ul>
              </li>
              <li class="nav-item ml-md-3 mr-md-3">
                  <a class="nav-link dropdown-toggle dropdown-arrow" href="#" id="dining-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dining</a>
                  <ul class="dropdown-menu ml-5" aria-labelledby="dining-link">
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'dining_products' }" class="dropdown-item">All Dining</a>
                      </li>
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'products' %}?categories=Table" class="dropdown-item">Tables</a>
                      </li>
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'products' %}?categories=Chair" class="dropdown-item">Chairs</a>
                      </li>
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'products' %}?categories=Bar_stool" class="dropdown-item">Bar Stools</a>
                      </li>
                  </ul>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="mr-md-5">
                <a class="{% if total %}text-secondary font-weight-bold{% else %}text-dark{% endif %}nav-link" href="{% url 'cart' %}">
                  <div class="text-center">
                    <div><img src="{% static 'shopping-cart.ico' %}" alt="Shopping cart icon">
                      <p class="my-0">
                        {% if total %}
                            ${{ total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item mr-md-3">
                <a class="nav-link" href="{% url 'user_wishlist' %}">My Wishlist</a>
              </li>
              <li class="nav-item mr-md-3">
                <a class="nav-link {% if request.path == profiles_url %}active" aria-current="page{% endif %}" href="{% url 'user_profile' %}">Personal Details</a>
              </li>
              <li class="nav-item mr-md-3">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item mr-md-3">
                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
              </li>
              <li class="nav-item mr-md-3">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- Search Bar Row -->
    {% block search_bar %}
    <div class="container-fluid search-bar pt-5 container-sm fixed-top">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group">
              <input class="form-control" type="text" name="q" placeholder="Search Products">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}


    {% block page_header %}
    {% endblock %}

    <main class="container-fluid main-content-wrapper mt-5">
      {% block content %}
        {% if messages %}
          <div class="container mt-3 top-padding">
            <div class="row">
              <div class="col-12">
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endblock %}
    </main>

    {% block postloadjs %}
    {% endblock %}
    
    <!-- Footer -->
    <footer class="container-fluid mt-auto py-3 bg-light text-center">
      <div class="card-footer">
        <div class="row">
          <div class="col-sm">
            <ul class="nav flex-column">
              <li class="nav-item footer-link">
                <a class="nav-link text-dark" href="{% url 'faq' %}">FAQs</a>
              </li>
              <li class="nav-item footer-link">
                <a class="nav-link text-dark" href="{% url 'contact' %}">Contact Us
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm">
            <div class="social-icons">
              <div class="social-icon">
                <a
                  href="https://facebook.com/"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share our studio on Facebook! (Opens in a new tab)"
                >
                  <i class="fa-brands fa-square-facebook text-dark"></i>
                  <span class="text-dark"> Facebook</span>
                </a>
              </div>
              <div class="social-icon">
                <a
                  href="https://instagram.com/"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share our studio on Instagram! (Opens in a new tab)"
                >
                  <i class="fa-brands fa-square-instagram text-dark"></i>
                  <span class="text-dark"> Instagram</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <li class="nav-item footer-link">
              <a
                  href="https://blog.zeelproject.com/64-psychology-in-interior-design.html"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Learn about the psychology of furniture design and colors! (Opens in a new tab)"
                >
                  <span class="nav-link text-dark"> Need inspiration? Learn the psychology of design.</span>
                </a>
            </li>
            <li class="nav-item footer-link">
              <a
                  href="https://kollect.ie/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visit Kollect.ie for disposal needs of your old furniture! (Opens in a new tab)"
                >
                  <span class="nav-link text-dark"> Need to dispose of old furniture?</span>
                </a>
            </li>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>