{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}Discover a wide selection of sofas, bedroom furniture, and dining room furniture at Fine Furnishings. Shop now for elegant and durable pieces for your home.{% endblock %}">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Jost:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Italiana&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Mailchimp Styles -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script
        src="https://kit.fontawesome.com/4147796678.js"
        crossorigin="anonymous"
        ></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>Fine Furnishings {% block extra_title %}{% endblock %}</title>

  </head>
  <body class="py-3 body-color d-flex flex-column min-vh-100">
    <header class="container-fluid header-color fixed-top">
      <!-- Title Row -->
      <div class="row title-row">
        <div class="col-12 text-left ml-3 mt-3">
          <a class="navbar-brand" href="{% url 'home' %}">
            <h2 class="header-text title-name">Fine Furnishings</h2>
          </a>
        </div>
      </div>
      <!-- Navbar Row -->
      <div class="row">
        <nav class="navbar navbar-expand-md navbar-light w-100 mt-md-3 pb-2 pb-md-0 text-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ml-md-3 mr-md-3">
                  <a class="nav-link" href="{% url 'products' %}">All Products</a>
              </li>
              <li class="nav-item ml-md-3 mr-md-3">
                <a class="nav-link dropdown-toggle dropdown-arrow" href="#" id="sofa-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sofas</a>
                <ul class="dropdown-menu ml-5 mr-5" aria-labelledby="sofa-link">
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'sofa_products' %}" class="dropdown-item">All Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Corner" class="dropdown-item">Corner Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=3_Seater" class="dropdown-item">3 Seater Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=2_Seater" class="dropdown-item">2 Seater Sofas</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Armchair" class="dropdown-item">Armchairs</a>
                    </li>
                </ul>
              </li>
              <li class="nav-item ml-md-3 mr-md-3">
                <a class="nav-link dropdown-toggle dropdown-arrow" href="#" id="bedroom-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bedroom</a>
                <ul class="dropdown-menu ml-5" aria-labelledby="sofa-link">
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'bedroom_products' %}" class="dropdown-item">All Bedroom</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Bedframe" class="dropdown-item">Bedframes</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Nightstand,Locker" class="dropdown-item">Bedside Tables</a>
                    </li>
                    <li class="nav-item ml-md-3 mr-md-3 dropdown">
                      <a href="{% url 'products' %}?categories=Storage,Drawer,Dresser" class="dropdown-item">Storage & Desks</a>
                    </li>
                </ul>
              </li>
              <li class="nav-item ml-md-3 mr-md-3">
                  <a class="nav-link dropdown-toggle dropdown-arrow" href="#" id="dining-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dining</a>
                  <ul class="dropdown-menu ml-5" aria-labelledby="dining-link">
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'dining_products' %}" class="dropdown-item">All Dining</a>
                      </li>
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'products' %}?categories=Table" class="dropdown-item">Tables</a>
                      </li>
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'products' %}?categories=Chair" class="dropdown-item">Chairs</a>
                      </li>
                      <li class="nav-item ml-md-3 mr-md-3 dropdown">
                        <a href="{% url 'products' %}?categories=Bar_stool" class="dropdown-item">Bar Stools</a>
                      </li>
                  </ul>
                </li>
              </ul>
            <div class="col-sm"></div>
            <div class="ml-lg-5">
              <ul class="navbar-nav align-items-center ml-lg-5">
                <li class="nav-item ml-md-3 mr-md-3">
                  <a class="{% if total %}text-secondary font-weight-bold{% else %}text-dark{% endif %}nav-link" href="{% url 'cart' %}">
                    <div class="text-center">
                      <div class="col-sm">
                        <img src="{% static 'shopping-cart.ico' %}" alt="Shopping cart icon">
                        <p class="my-0">
                          {% if total %}
                              €{{ total|floatformat:2 }}
                          {% else %}
                              €0.00
                          {% endif %}
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item ml-lg-3">
                  <a class="nav-link" href="{% url 'user_wishlist' %}">My Wishlist</a>
                </li>
                <li class="nav-item ml-lg-3">
                  <a class="nav-link {% if request.path == profiles_url %}active" aria-current="page{% endif %}" href="{% url 'user_profile' %}">Personal Details</a>
                </li>
                <li class="nav-item ml-lg-3">
                  <a class="nav-link {% if request.path == profiles_url %}active" aria-current="page{% endif %}" href="{% url 'order_history' %}">Order History</a>
                </li>
                <li class="nav-item ml-lg-3">
                  <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item ml-lg-3">
                  <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item ml-lg-3">
                  <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <main class="container-fluid main-content-wrapper">
      <!-- Search Bar Row -->
      {% block search_bar %}
      <div class="container-fluid search-bar container-sm fixed-top">
        <div class="row justify-content-center">
          <div class="col-sm">
            <form method="GET" action="{% url 'products' %}">
              <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search Products">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block content %}
      {% endblock %}
    </main>

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}
    
    <!-- Footer -->
    <footer class="container-fluid mt-auto py-3 bg-light text-center">
      <div class="card-footer">
        <div class="row">
          <div class="col-sm d-flex flex-column align-items-center">
            <ul class="nav flex-column">
              <li class="nav-item footer-link">
                <a class="nav-link text-dark" href="{% url 'faq' %}">FAQs</a>
              </li>
              <li class="nav-item footer-link">
                <a class="nav-link text-dark" href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-sm d-flex flex-column align-items-center">
            <div class="social-icons">
              <div class="social-icon">
                <a
                  href="https://facebook.com/"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share our studio on Facebook! (Opens in a new tab)"
                >
                  <i class="fa-brands fa-square-facebook text-dark"></i>
                  <span class="text-dark"> Facebook</span>
                </a>
              </div>
              <div class="social-icon">
                <a
                  href="https://instagram.com/"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share our studio on Instagram! (Opens in a new tab)"
                >
                  <i class="fa-brands fa-square-instagram text-dark"></i>
                  <span class="text-dark"> Instagram</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm d-flex flex-column align-items-center">
            <ul class="nav flex-column">
              <li class="nav-item footer-link">
                <a
                  href="https://blog.zeelproject.com/64-psychology-in-interior-design.html"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Learn about the psychology of furniture design and colors! (Opens in a new tab)"
                >
                  <span class="nav-link text-dark"> Need inspiration? Learn the psychology of design.</span>
                </a>
              </li>
              <li class="nav-item footer-link">
                <a
                  href="https://kollect.ie/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visit Kollect.ie for disposal needs of your old furniture! (Opens in a new tab)"
                >
                  <span class="nav-link text-dark"> Need to dispose of old furniture?</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm d-flex flex-column align-items-center">
            <ul class="nav flex-column">
              <li class="nav-item footer-link">
                <div id="mc_embed_shell">
                  <div id="mc_embed_signup">
                    <form action="https://gmail.us13.list-manage.com/subscribe/post?u=f992e8136424e92ad42df9fcf&amp;id=41422e877d&amp;f_id=00d9c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                      <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                        <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                          <input type="text" name="b_f992e8136424e92ad42df9fcf_41422e877d" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                          <div class="clear foot">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                            <p style="margin: 0px auto;"><a href="http://eepurl.com/iSc95Y" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Mailchimp Scripts -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

  </body>
</html>