{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block search_bar %}
{% endblock %}

{% block content %}

<!-- Success message -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success top-padding" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Contact page -->
<div class="container text-white top-padding mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1 class="text-center">Contact Us</h1>
            <!-- Contact Us form-->
            <form method="post">
                {% csrf_token %}
                {{ contact_form|crispy }}  
                <button type="submit" class="btn btn-secondary pr-3 pl-3">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
